body {
  margin: 0;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  color: white;
}

.app-content {
  position: relative;
  z-index: 1;
}
[data-aos] {
  opacity: 1 !important;
  transform: none !important;
  
}
